---
import MenuModalForm from "./MenuModalForm";
import type { ApiData } from "../../interfaces/dbData";
import { MenuHeader } from "./MenuHeader";
import { RedesIcons } from "../RedesIcons";
import ButtonContent_2 from "../button/ButtonContent_2";

let UrlApi = import.meta.env.API_URL;
let KetApi = import.meta.env.API_KEY;
// Realiza la llamada a la API
const response = await fetch(`${UrlApi}/${KetApi}`);
const data: ApiData = await response.json();
---

<header class="bg-[#FCFAF7] relative z-50" transition:animate="none">
  <div class="w-full bg-primary md:h-[130px] md:flex hidden">
    <div class="md:w-[30%]"></div>
    <div class="md:w-[70%] flex items-start pt-3">
      <div class="flex items-center gap-4">
        <span
          class="text-white border-r-2 border-white pr-4 flex gap-2 items-center"
        >
          <i class="fa-solid fa-phone text-[16px] text-white"></i>
          <a href={`tel:+1${data.dataGeneral.phones[0].number}`}>
            {data.dataGeneral.phones[0].number}
          </a>
        </span>
        <span
          class="text-white border-r-2 border-white pr-4 flex gap-2 items-center"
        >
          <i class="fa-solid fa-envelope text-[16px] text-white"></i>
          <a href={`mailto:${data.dataGeneral.emails[0].email}`}>
            {data.dataGeneral.emails[0].email}
          </a>
        </span>
        <span class="text-white pr-4 flex gap-2 items-center">
          <i class="fa-solid fa-calendar text-[16px] text-white"></i>
          <span>
            {data.dataGeneral.openingHours[0].days} - {
              data.dataGeneral.openingHours[0].hours
            }
          </span>
        </span>
        <div class="flex items-center gap-2">
          <span class="text-white"> Follow Us: </span>
          <RedesIcons redesSociales={data.redesSociales} />
        </div>
      </div>
    </div>
  </div>
  <div
    class="md:w-[90%] w-full flex md:absolute md:items-end self-end top-8 md:flex-row flex-col justify-center"
  >
    <div
      class="md:w-[25%] w-full bg-white/75
    md:rounded-bl-[100px] md:rounded-tr-[100px] flex items-center md:justify-start justify-center md:h-[160px] md:py-1 py-4"
    >
      <picture class="w-full h-full ">
        <img
          src={data.logos.primary}
          loading="lazy"
          class="w-full h-full object-contain"
          width="250"
          height="250"
        />
      </picture>
    </div>
    <div
      class="md:w-[75%] w-[100%] md:flex hidden items-center justify-center md:justify-between gap-4 md:bg-white rounded-full md:h-[100px] md:px-12 ml-[-60px]"
    >
      <MenuHeader client:load data={data} />
      <MenuModalForm client:only dataGlobal={data} />
    </div>
    <div class="flex w-[95%] mx-auto py-4 md:hidden">
      <div class="w-[30%] flex justify-center">
        <MenuHeader client:load data={data} />
      </div>
      <div class="w-[70%] flex justify-center">
        <ButtonContent_2 titleBtn="Contact Us" />
      </div>
    </div>
  </div>
</header>
